{% extends 'index.html' %}
{% block titulo %} Lista de entradas de Django {% endblock %}


{% block contenido %}
<p><a href="/logout/">Salir</a></p>
	{% for entrada in entradas %}
		<p>
			<h2>{{entrada.titulo}}</h2>
			<p>{{entrada.texto}}</p>
			<p>Fecha: {{entrada.fecha}}</p>
			<p>Etiquetas:{{entrada.etiquetas}}</p>
		</p>
        <h4>Comentarios</h4>
        {% for comentario in entrada.comentario_set.all %}
            <p>{{ comentario.comentario_texto}}</p>
	    {% endfor %}
        <form action="/entradas/" method="post">
        {% csrf_token %}
            <input type="text" name="comentario_texto" id={{ entrada.id }}>
            <input type="submit" value="Submit" />
        </form>
        <p>El usuario debe estar autenticado para poder comentar.</p>
        <p>el usuario actual es: {{ usuario.username }}</p>
	{% endfor%}
{% endblock %}
