{% extends 'index.html' %}
<p>Entrada:</p>
{% block contenido %}
	{# {% for entrada in entradaSel %} #}
		<p>{{ entradaSel.titulo }}</a></a></h2>
		<p>{{ entradaSel.texto }}</p>
		<p>Fecha: {{ entradaSel.fecha }}</p>
		<p>Etiquetas:{{ entradaSel.etiquetas }}</p>
	{# {% endfor %} #}


    <h4>Comentarios</h4>
    {% for comentario in comentarioSel %}
        <p>{{ comentario.comentario_texto}}</p>
    {% endfor %}
    <form action="/entradas/" method="post">
    {% csrf_token %}
        <input type="text" name="comentario_texto" >
        <input type="hidden" name="id" value={{entrada.id}}>
        <input type="submit" value="Submit" />
    </form>
    {% if usuario == 1 %}
        <p>El usuario debe estar autenticado para poder comentar.</p>
        {% block authentication %}{% endblock %}
    {% else %}
        <p>el usuario actual es: {{ user.username }}</p>
    {% endif %}

{% endblock %}