{% extends 'index.html' %}

{% block titulo %} Lista de entradas de Django {% endblock %}


{% block contenido %}
<p><a href="/logout/">Salir</a></p>
	{% for entrada in entradas %}
		<p>
			<h2>{{entrada.titulo}}</h2>
			<p>{{entrada.texto}}</p>
			<p>Fecha: {{entrada.fecha}}</p>
			<p>Etiquetas:{{entrada.etiquetas}}</p>
		</p>
        <h4>Comentarios</h4>
        {% for comentario in entrada.comentario_set.all %}
            <p>{{ comentario.comentario_texto}}</p>
	    {% endfor %}
        <form action="/entradas/" method="post">
        {% csrf_token %}
            <input type="text" name="comentario_texto" >
            <input type="hidden" name="id" value={{entrada.id}}>
            <input type="submit" value="Submit" />
        </form>
        {% if usuario == 1 %}
            <p>El usuario debe estar autenticado para poder comentar.</p>
            {% block authentication %}{% endblock %}
        {% else %}
            <p>el usuario actual es: {{ user.username }}</p>
        {% endif %}
	{% endfor%}
{% endblock %}
