<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Adiccion de Bootstrap Twitter -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
	</script>
	<title>{% block titulo %}{% endblock%}</title>
</head>
<body>
	{% block login %}
	<p>Login<P>
		{% if acceso == 1 %}
		    <p>Usuario: {{ usuario.userrname }}
		{% else %}
			<form action="/entradas/login" >
				Username: <input type="text" name="username">
				Password: <input type="text" name="password">
				<input type="button" value="Login">
			</form>
		{% endif %}
	{% endblock %}
	{% block authentication %}{% endblock %}
	{% block contenido %}{% endblock %}
</body>
</html>